    <main>
        <form method="POST" action="/login" id="login-form">
            <input type="text" name="username" placeholder="username" id="username" class="input-style">
            <label for="username" class="label-style">Username</label>
            <input type="password" name="password" placeholder="password" id="password" class="input-style">
            <label for="password" class="label-style">Password</label>
            <button type="submit" class="btn-style">Submit</button>
        </form>
        {{#unless valid}} 
            <p>Invalid Credentials</p>
        {{/unless}}

        
        
    </main>