<h1 class="h1-main">People Finder</h1>
    
    <main>
        <p class="p-main">
            This piece of assignment makes you familiar with the working of handlebars with express.
            This web application lets you find people.
        </p>
        <form method="POST" action="/search">
            <input type="" name="personName" placeholder="Search.." id="searchbox" class="input-style">
            <label for="searchbox" class="label-style">Search</label>
            <button type="submit" class="btn-style">Submit</button>
        </form>
    </main>